In [1]:
# Dependencies
import pandas as pd

# Top 10 Major Cities Rent in Canada

### Source: https://rentals.ca/national-rent-report#rentalsca-data

In [2]:
# Read the raw CSV file (encoding fixed)
df = pd.read_csv("Resources/cities_rents.csv", encoding="ISO-8859-1")

In [3]:
# Rename relevant columns for clarity
df.columns = ['Rank', 'City', 'Rent_1Bedroom', 'M/M_1B', 'Y/Y_1B', 'Rent_2Bedroom', 'M/M_2B', 'Y/Y_2B']

In [4]:
# Strip whitespace from city names
df['City'] = df['City'].str.strip()

In [5]:
# Define the 10 cities to include
target_cities = [
    "Toronto","Montreal","Calgary", "Ottawa", "Edmonton", "Winnipeg",
    "Mississauga", "Vancouver", "Brampton", "Hamilton",
]

In [6]:
# Filter the DataFrame to only include those 10 cities
df_filtered = df[df['City'].isin(target_cities)].copy()

In [7]:
# Map each city to its province
province_map = {
    "Toronto": "Ontario", "Montreal": "Quebec", "Calgary": "Alberta",
    "Ottawa": "Ontario", "Edmonton": "Alberta", "Winnipeg": "Manitoba",
    "Mississauga": "Ontario", "Vancouver": "British Columbia", "Brampton": "Ontario",
    "Hamilton": "Ontario",
}
df_filtered['Province'] = df_filtered['City'].map(province_map)

In [8]:
# Clean rent values: remove $ and commas, convert to float
df_filtered['Rent_1Bedroom'] = df_filtered['Rent_1Bedroom'].replace('[\$,]', '', regex=True).astype(float)
df_filtered['Rent_2Bedroom'] = df_filtered['Rent_2Bedroom'].replace('[\$,]', '', regex=True).astype(float)

In [9]:
# Map each city to its population
population_map = {
    "Toronto": 2794356, "Montreal": 1762949, "Calgary": 1306784,
    "Ottawa": 1017449, "Edmonton": 1010899, "Winnipeg": 749607,
    "Mississauga": 717961, "Vancouver": 662248, "Brampton": 656480,
    "Hamilton": 569353,
}
df_filtered['Population(2021)'] = df_filtered['City'].map(population_map)

In [10]:
# Keep only relevant columns
df_final = df_filtered[['City', 'Province','Population(2021)', 'Rent_1Bedroom', 'Rent_2Bedroom']]

In [11]:
df_final

,City,Province,Population(2021),Rent_1Bedroom,Rent_2Bedroom
1,Vancouver,British Columbia,662248,2531.0,3430.0
5,Toronto,Ontario,2794356,2313.0,2929.0
10,Mississauga,Ontario,717961,2174.0,2605.0
20,Ottawa,Ontario,1017449,2020.0,2578.0
25,Brampton,Ontario,656480,1919.0,2276.0
37,Montreal,Quebec,1762949,1724.0,2236.0
38,Hamilton,Ontario,569353,1720.0,2097.0
45,Calgary,Alberta,1306784,1588.0,1928.0
49,Winnipeg,Manitoba,749607,1428.0,1725.0
52,Edmonton,Alberta,1010899,1310.0,1656.0

In [12]:
# Save to a new CSV file
df_final.to_csv("Output/city_rent_population.csv", index=False)
print("✅ CSV file 'city_rent_population.csv' created successfully.")

✅ CSV file 'city_rent_population.csv' created successfully.